* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Avenir.woff") format("woff"),
    url("../fonts/Avenir.ttf") format("truetype"),
    url("../fonts/Avenir.svg#Avenir") format("svg");
}

.header {
  background-color: rgba(26, 26, 26, 55%);
  height: 100px;
  width: 100vw;
  display: flex;
}

.symbolContainer {
  height: 100%;
  width: 20%;
  position: relative;
}
.symbol {
  height: 90%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.logoContainer {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 60%;
  width: 100%;
}

.menuContainer {
  display: none;
}

.burgerContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  padding-right: 10px;
  padding-top: 15px;
}

.burger {
  background-color: aqua;
  width: 40px;
  height: 5px;
}

.pinkBurger {
  background-color: #eb2e59;
}

.yellowBurger {
  background-color: #f0ac29;
}

.blackBurger {
  background-color: #1a1a1a;
}

.headContainer {
  height: 300px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headText {
  width: 300px;
  font-size: 22pt;
  font-family: "avenir", Helvetica, sans-serif;
}

.pinkHead {
  color: #eb2e59;
}

.border {
  border-top: #f0ac29 2px solid;
  width: 150px;
  margin-top: 5px;
}

.onlyDesk,
.onlyPad {
  display: none;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.product {
  width: 400px;
  height: 400px;
}

.productImg {
  height: 100%;
  width: 100%;
}

.footer {
  background-color: rgba(26, 26, 26, 55%);
  height: 100px;
  width: 100vw;
  margin-top: 40px;
  display: flex;
}

.footerContainer > p {
  font-size: 13pt;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footerContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 640px) {
  .symbolContainer {
    height: 100%;
    width: 20%;
  }
  .symbol {
    height: 80%;
    width: 70%;
  }

  .logoContainer {
    width: 60%;
    height: 100%;
  }

  .logo {
    height: 50%;
    width: 75%;
  }

  .productsContainer {
    flex-direction: row;

    flex-wrap: wrap;
  }

  .onlyPad {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .onlyDesk {
    display: inline;
  }

  .burgerContainer {
    display: none;
  }

  .symbolContainer {
    width: 10%;
  }

  .symbol {
    width: 100%;
  }

  .logoContainer {
    position: relative;
    width: 40%;
  }
  .logo {
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 40%;
    width: 70%;
  }
  .menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    font-family: "avenir", Helvetica, sans-serif;
    width: 50%;
  }

  .pinkMenu {
    color: #eb2e59;
  }
  .yellowMenu {
    color: #f0ac29;
  }
  .blackMenu {
    color: #1a1a1a;
  }
}
